.card-div {
  border: 1px solid black;
  width: 240px;
  height: 310px;
  background-color: white;
}
.card-img {
  width: 240px;
  height: 260px;
  object-fit: cover;
}
.card-text {
  text-align: center;
  color: inherit;
}
